server:
  port: 8080
  address: 0.0.0.0

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/taco_db
    username: root
    password: son76031991!
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  servlet:
    encoding:
      charset: UTF-8
      force: true